html{
	/* Set height of the html page to 100% of the browser height */
	height: 100%;
	/* Hide horizontal scroll */
	overflow-x: hidden;
	font-family: 'Helvetica', sans-serif;
}

body{
	/* Set height of the body to 100% -- separated out of html to allow scrollTo animation */
	height: 100%;
	margin: 0px;
}

/* 
Navigation Bar 
*/
#nav{
	/* Fix navigation bar at the top middle of the web page */
    position: fixed;
    /* calc() CSS function calculates numbers of different units */
    left: calc(50% - 50px);
    top: 20px;
    /* Display nav bar on top of everything else */
    z-index: 1;
}

.nav-btn{
	width: 20px;
    height: 20px;
    /* Make square div into a circle */
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    /* transition changes in background-color */
    transition: background-color 0.5s;
}

/* When a nav-btn is hovered on, set background-color to black */
.nav-btn:hover{
	background-color: black;
}

/* 
Camel2 Div
*/
#camel2-div{
	/* Fix camel2 div in the bottom left corner of the web page */
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 300px;
	text-align: center;
}

#camel2{
	width: 300px;
	margin-top: 18px;
}

#camel2-text{
	color: white;
	background-color: black;
	font-size: 32px;
}

/* 
Parallax: Dune and Abu Dhabi sections;
*/
#dune, #abudhabi{
	/* Set height of div to 100% */
	height: 100%;
	/* The bottom three background CSS settings create parallax effect */
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#dune{
	/* Set background image of dune section using url() function */
	background-image: url('Media/dune.jpg');
}

#abudhabi{
	/* Set background image of abu dhabi section using url() function */
	background-image: url('Media/abudhabi.jpg');
}

/* 
Camel2 div inside Dune section
*/
#camel2-div{
    position: relative;
    width: 150px;
    text-align: center;
    top: calc(100% - 300px);
    left: calc(50% - 75px);
}

#camel2{
	width: 100px;
	margin-top: 25px;
}

#camel2-text{
	color: white;
}

/* 
Boat div inside Abu Dhabi section
*/
#boat-div{
    position: relative;
    width: 180px;
    text-align: center;
    left: calc(50% - 90px);
}

#boat-text{
	color: black;
	background: white;
}

#boat{
    width: 75px;
    display: block;
    margin: auto;
    transform: rotate(-10deg);
}

/* 
Text sections after Dune and Abu Dhabi sections
*/
.text-section{
	/* Center text in the middle of browser using flexbox */
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text{
	width: 70%;
}
